.env
kubeconfig*.yaml
gke_gcloud_auth_plugin_cache
flux/
.devbox/
.DS_Store
*.log
tmp/
demo/ingress.yaml
demo/autoscaling-ingress.yaml
demo/autoscaling-route.yaml
demo/autoscaling-route-placeholder.yaml
aws-creds.conf
eksctl-config-*.yaml
eksctl-nodegroup-*.yaml
demo/autoscaling-route-placeholder-naive.yaml
